<div class="card">
  Имя - {{ author?.name }} <br />
  Фамилия - {{ author?.surname }} <br />
  Отчество - {{ author?.midlename }} <br />
  Колличество книг {{ author?.books?.length || 0 }} <br />
  <button class="btn" (click)="removeAuthor()">Удалить</button>
  <button class="btn" (click)="tooggleEditFormAuthor()">Редактировать</button>
</div>
<div *ngIf="editForm">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-control">
      <label for="">Имя</label>
      <input type="text" formControlName="name" />
      <div
        *ngIf="form.get('name').invalid && form.get('name').touched"
        class="validation"
      >
        <small *ngIf="form.get('name').errors.required">
          Поле Имя не может быть пустым
        </small>
      </div>
    </div>

    <div class="form-control">
      <label for="">Фамилия</label>
      <input type="text" formControlName="surname" />
      <div
        *ngIf="form.get('surname').invalid && form.get('surname').touched"
        class="validation"
      >
        <small> Поле Фамилия не может быть пустым </small>
      </div>
    </div>

    <div class="form-control">
      <label for="">Отчество</label>
      <input
        type="text"
        placeholder="Необязательно"
        formControlName="midlename"
      />
    </div>

    <div class="form-control">
      <label for="">Дата рождения</label>
      <input type="text" formControlName="dateBirth" />
    </div>
    <div
      *ngIf="form.get('name').invalid && form.get('name').touched"
      class="validation"
    >
      <small> Поле Дата рождения не может быть пустым </small>
    </div>
    <button class="btn" type="submit">Редактировать</button>
    <button class="btn" (click)="editForm = !editForm">Отмена</button>
    <h2>Книги:</h2>
    <div *ngIf="author?.books.length === 0" class="card">
      {{ "Книг по этому автору нет" }}
    </div>

    <div *ngFor="let book of author?.books" class="card">
      {{ book.name }}
    </div>
  </form>
</div>
