<div class="container">
  <div>
    <button class="btn" (click)="showContent = 'authorsList'">
      Список Авторов
    </button>
    <button class="btn" (click)="showContent = 'booksList'">Список Книг</button>
    <button class="btn" (click)="showContent = 'addAuthor'">
      Добавить автора
    </button>
    <button class="btn" (click)="showContent = 'addBook'">
      Добавить книгу
    </button>
  </div>

  <div [ngSwitch]="showContent">
    <div *ngSwitchCase="'booksList'">
      <app-books-list
        *ngFor="let author of autors"
        [author]="author"
        [genres]="genres"
        (updateBookinStor)="updateBookinStor($event)"
      ></app-books-list>
    </div>

    <div *ngSwitchCase="'authorsList'">
      <h2>Фильтр по фамилиям</h2>
      <input type="text" [(ngModel)]="search" />
      <app-author-list
        *ngFor="let author of autors | filter: search"
        [author]="author"
        (onRemove)="removeAuthor($event)"
        (onEditAuthor)="editAuthor($event)"
      ></app-author-list>
    </div>

    <div *ngSwitchCase="'addAuthor'">
      <app-author-form (onAdd)="addAuthor($event)"></app-author-form>
    </div>

    <div *ngSwitchCase="'addBook'">

      <app-book-form
      (addgenre)="addgenre($event)"
        (onAddBook)="addBook($event)"
        [autors]="autors"
        [genres]="genres"
      ></app-book-form>
    </div>

    <p *ngSwitchDefault>Error</p>
  </div>
</div>
